@media (min-width:800px) and (max-width:1000px){
  .control-label
  {
    text-align: right  !important;
  }

  *:not(.total){
    font-size: 12px !important;
  }

  .total > label{
    font-size: 1em !important;
  }
} 

@media  (min-width:400px) and (max-width:800px){
  .control-label
  {
    text-align: right  !important;
  }

  *:not(.total){
    font-size: 10px !important;
  }

  .total > label{
    font-size: 1em !important;
  }
} 
@media  (max-width:400px){
  .control-label
  {
    text-align: right  !important;
  }

  *:not(.total){
    font-size: 10px !important;
  }

  .total > label{
    font-size: 1em !important;
  }
} 

.ui-dialog-buttonset{
    padding-left: 5%;
    width: 100% !important;
}

/*.typeahead.form-control
{
    width:155%;
}

span .tt-dropdown-menu
{
    width:155%;
}*/

.loader{
    background: url("../../img/preloader.gif") no-repeat;
    background-position: right;
}

.loaderMensaje{
    margin-left: 40%;
    margin-top: 4%;
    width: 13%;
}

.contenedorGeneral
{
    border: 3px solid #98ac31;
    border-radius: 0.5em;
    padding: 0 !important;
    margin-bottom: 0.5em;
}

.encabezados
{
    border-radius: 0.5em;
    padding: 0 !important;
}

.encabezados > div{
    background-color: #98ac31;
    border: 1px solid #FFF;
    color: #525154;
    font-weight: bold;
    height: 25px;
    padding: 0 !important;
    text-align: center;
}

.encabezados > div:first-child{
    border-radius: 0.5em 0 0 0;
}

.encabezados > div:last-child{
    border-radius: 0 0.5em 0 0;
}

.contenidoForm
{
    border: 1px solid #CCCCCC;
    /*max-height: 160px;*/
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 !important;
}

.regImpuesto , .subtotal{
    font-size: 17px;
    text-align: right;
    text-indent: 13px;
}

.contenidoForm > .registroCaja{
    border: 1px solid #CCC;
    padding: 0 !important;
    height:28px;
    cursor:pointer;
}
.contenidoForm > .registroCaja:first-child{
    margin-top: 1%;
}
.contenidoForm > .registroCaja:last-child{
    border-radius: 0 0 0.5em 0.5em;
    margin-bottom: 0.5em;
}
.contenidoForm > .registroCaja:last-child > div:first-child{
    border-radius: 0 0 0 0.5em;
    margin-bottom: 0.5em;
}
.contenidoForm > .registroCaja:last-child > div:last-child{
    border-radius: 0 0 0.5em 0;
    margin-bottom: 0.5em;
}

.contenidoForm > .registroCaja > div{
    border: 1px solid #CCC;
    border-top: 0;
    height:28px;
}

.imgDelete{
    cursor: pointer;
   /* margin-left: 25%;*/
}

.contenidoForm > .registroCaja:nth-child(odd) {
    background-color: #CCC;
    color:#000;
}

.contenidoForm > .registroCaja:nth-child(odd) > div{
    border: 1px solid #FFF;
}

.contenidoForm > .registroCaja:nth-child(even) {
    background-color: #FFF;
    color:#000;
}

.impuestosCaja
{
    border: 1px solid #98ac31;
    border-radius: 0.5em;
    padding: 0 !important;
}

.impuestosCaja > div
{
    margin-bottom: 0 !important;
}

.sucursal
{
    padding: 0 !important;
    margin-bottom: 11%;
}

.vendedor
{
    padding: 0 !important;
}

#modalCambioCantidad > div{
    margin-top: 1%;
}

#divDescuento{
    border-top: 1px solid #CCC;
}

#cboDescuentoProducto{
    width:41% !Important;
}

#txtDescuentoProducto{
    margin-left: 4%;
    width: 54%;
}

#txtCantidadProducto
{
   margin-left: 4%;
   width: 54%; 
}

.label
{
    background-color:#FFF !Important;
}

.success{
    color:#98ac31 !Important;
}

.warning{
    color:#F0AD4E !Important;
}

.danger{
    color:#D43F3A !Important;
}

.form-horizontal{
 width:100% !Important;   
}

#divMetodPago{
    margin-top: 2%;
}

#cboMetodoPago{
    width: auto !Important;
    margin-right: 1%;
}

#txtCantidadPago
{
    width: 29% !Important;
    margin-right: 1%;
}

#divPagos{
    margin-top: 4%;
    border-top: 1px solid #CCC;
}

#txtReferencia{
}

#lblReferencia{
    width: auto !Important;
    float: left;
}

#abonosPagos{
 /*max-height: 145px;*/
 overflow-x: hidden;
 overflow-y: auto;
}

#clock{
    border-bottom: 1px solid #CCC;
    margin-bottom:2%;
}

#s_cliente{
    width: 78% !Important;
}

#divAccionesSuspender{
    margin-bottom: 0;
    margin-top: 1%;
}

#divSuspendidas{
 margin-top: 2%;   
}

.total{
    font-size: 4em;
}

.offsetbtn
{
    margin-right: 10% !Important;
}

.no-close .ui-dialog-titlebar-close {
    display: none 
}
.divParametros > label{
    font-size: 23px;
    margin-top: -9px !important;
}
#num_caja{
    font-size: 24px;   
}
.text-center
{
    text-align: center !important;
    padding-left: 6px;
}
.textWrap {
    text-align: justify;
    word-wrap: break-word;
}

