body{
	font-family: Tahoma,"Trebuchet MS", Arial;
	font-size:11px;
}

/* SECCIONES */
div.tipo{
	color:gray;
}
div.descripcion{
	font-family: Tahoma,"Trebuchet MS", Arial;
	color:gray;
	font-size:20px;
}

/*TABLAS*/
tr.listadofila{
	font-family: Tahoma,"Trebuchet MS", Arial;
	font-size:11px;
	height:15px;
}
tr.listadofila:hover{
	background:#f5f5f5;
}

/*BORDES INPUT*/
input{
	font-family: Tahoma,"Trebuchet MS", Arial;
	font-size:11px;
	border: thin solid silver;		
	
	/*Solo Safari, Firefox, Chrome*/
	-moz-border-radius: 4px;	
	-webkit-border-radius: 4px; 
	border-radius: 4px;
}
input:focus{
	background:lightgray;
}


/*BORDES SELECT EN GENERAL*/
select.seleccion{	
	font-family: Tahoma,"Trebuchet MS", Arial;	
	font-size:11px;	
	text-align:left;		
}


/*FECHAS*/
img.datepicker{
	cursor:pointer;
}
input.fecha{	
	border:none;
	/*border: thin solid silver;*/
	text-align:center;	
	background:#efefef;		
}
input.fecha:focus{
	background:lightgray;
	/*border-bottom: thin solid gray;*/
}
input.hora{
	border:none;
	text-align:center;
	height: 16px;
	background:#efefef;
}
select.hora{	
	font-family: Tahoma,"Trebuchet MS", Arial;	
	text-align:center;		
	font-size:11px;
	/*
	arrow-color:white;
	
	--Solo Safari, Firefox, Chrome--
	-moz-border-radius: 4px;	
	-webkit-border-radius: 4px; 	*/
}
select.hora:focus{
	/*background:lightgray;*/
}
td.fecha{
	background:#efefef;
	border:none; /*thin solid silver;*/
	
	/*Solo Safari, Firefox, Chrome*/
	-moz-border-radius: 4px;	
	-webkit-border-radius: 4px; 
	border-radius: 4px;	
}

table.busqueda{
	border:thin solid silver;
}
tr td{
	border:none;
}
tr.tit_tabla_buscar{
	border:solid silver;
	background:url('../img/tit_tabla.png');
}
tr.busqueda_fila{
	background:#f5f5f5;
	font-size:12px;
	height:30px;
}
tr.busqueda_fila2{
	background:#efefef;
	font-size:12px;	
	height:30px;	
}

tr.busqueda_fila:hover{
	background:url('../img/listado.png');	
}
tr.busqueda_fila2:hover{
	background:url('../img/listado.png');		
}
a.a_registro{
	text-decoration:none;
	color:gray;
}
a.a_registro:hover{
	text-decoration:underline;
	color:black;
}
input.input_filtro{
	height:20px;
	background:url('../img/preliminar.png') no-repeat ;
	background-position:right center;
}
iframe.opciones{
	border:none;
	align:center;
	margin-left:200px;
	margin-top:90px;
	width:994px;
	height:500px;
	scroll
}


/*
table.busqueda{
	font-size:12px;
	border:none;
}
tr.titulo_filtros{
	background:#ffffff;
	border:solid silver;	
}
tr.titulo_filtros:hover{
	background:url('img/titulo.png');
}
*/
